{% extends 'times_game/times_base.html.twig' %}

{% block title %}Michu Wordle{% endblock %}

{% block body %}




    <div class="container">
        <div class="statistic-container">
            {% if statistic is null %}
                We recommend to create a user account to save statistics permanently:
                <a href="{{ path('app_home') }}">Register</a>
            {% else %}
                <div class="statistic-list">
                    <div class="statistic-element">Current streak: {{ statistic.currentStreak }}</div>
                    <div class="statistic-element">Total: {{ statistic.played }}</div>
                    <div class="statistic-element">Won: {{ statistic.won }}</div>
                    <div class="statistic-element">Loose: {{ statistic.loose }}</div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
